.cart-no{
  position: absolute;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color:white;
  text-align: center;
  top:-12px;
  right: 30px;

}
.navbar{
  color: #fff;
	background: #17a2b8!important;
	padding: 5px 16px;
	border-radius: 0;
	border: none;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
  align-items: center;
}
