<div class="navbar d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <img src="/assets/images/logo.jpeg" style="max-height: 70px;" routerLink="/"> Ravula's Men's Ware
  <h5 style="text-align: center;"></h5>
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size:larger;">
    <a class="p-4 text-white fa fa-home" [routerLink]="['/']" > Home</a>
    <a class="p-4 text-white fa fa-shopping-bag" routerLink="/shop"> Shop</a>
    <a class="p-4 text-white fa fa-mobile" href="#"> Contact</a>
    <a class="p-4 text-white fa fa-ab" href="#"> About Us</a>
  </nav>
  <!--Shooping Cart Icon-->
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondery mr-2 " >
      <i class="fa fa-user-circle-o mr-2"></i>
      Login</a>
    <a class="btn btn-outline-dark mr-3" >
      <i class="fa fa-registered mr-2"></i><b>Sign up</b></a>
  </div>

</div>
